In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Burgeo,CA,2022-06-04 22:48:21,47.6167,-57.6152,49.82,76,96,0.83
1,1,Port Elizabeth,ZA,2022-06-04 22:48:22,-33.9180,25.5701,61.11,93,100,13.80
2,2,Opuwo,NaN,2022-06-04 22:44:09,-18.0607,13.8400,56.32,40,13,8.28
3,3,Tonantins,BR,2022-06-04 22:48:22,-2.8731,-67.8022,71.56,99,100,0.94
4,4,Te Anau,NZ,2022-06-04 22:48:23,-45.4167,167.7167,44.85,88,100,4.85

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Aripuana,BR,2022-06-04 22:48:24,-9.1667,-60.6333,82.58,50,78,0.74
7,7,Hilo,US,2022-06-04 22:48:24,19.7297,-155.0900,89.28,90,100,9.22
13,13,Nicoya,CR,2022-06-04 22:48:27,10.1483,-85.4520,79.97,82,86,4.47
18,18,Brokopondo,SR,2022-06-04 22:48:29,4.7500,-55.1667,77.31,87,60,6.55
22,22,Kavieng,PG,2022-06-04 22:48:32,-2.5744,150.7967,83.43,65,65,7.43
25,25,Hithadhoo,MV,2022-06-04 22:48:33,-0.6000,73.0833,83.12,70,90,8.32
26,26,Nishihara,JP,2022-06-04 22:48:33,26.1842,127.7558,80.65,97,75,9.22
28,28,Puerto Ayora,EC,2022-06-04 22:48:34,-0.7393,-90.3518,76.96,87,92,9.64
30,30,Kavaratti,IN,2022-06-04 22:48:35,10.5669,72.6420,82.62,78,95,11.68
39,39,Butaritari,KI,2022-06-04 22:48:38,3.0707,172.7902,80.96,71,90,9.06

In [19]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5       Aripuana      BR     82.58  -9.1667  -60.6333
7           Hilo      US     89.28  19.7297 -155.0900
13        Nicoya      CR     79.97  10.1483  -85.4520
18    Brokopondo      SR     77.31   4.7500  -55.1667
22       Kavieng      PG     83.43  -2.5744  150.7967
25     Hithadhoo      MV     83.12  -0.6000   73.0833
26     Nishihara      JP     80.65  26.1842  127.7558
28  Puerto Ayora      EC     76.96  -0.7393  -90.3518
30     Kavaratti      IN     82.62  10.5669   72.6420
39    Butaritari      KI     80.96   3.0707  172.7902

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Aripuana,BR,82.58,-9.1667,-60.6333,
7,Hilo,US,89.28,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Nicoya,CR,79.97,10.1483,-85.4520,Las Cabinas Del Sueño
18,Brokopondo,SR,77.31,4.7500,-55.1667,Matu Island
22,Kavieng,PG,83.43,-2.5744,150.7967,Nusa Island Retreat
25,Hithadhoo,MV,83.12,-0.6000,73.0833,Scoop Guest House
26,Nishihara,JP,80.65,26.1842,127.7558,Minshuku Agaihama
28,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Kavaratti,IN,82.62,10.5669,72.6420,Hotels in Lakshadweep Islands
39,Butaritari,KI,80.96,3.0707,172.7902,Isles Sunset Lodge

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))